html, body, .wrapper {
 	height: 100%;
}
body {
	font: 18px/23px "Cantarell", sans-serif;
	color: #ffffff;
	background-image: url(../img/bg_img_full.jpg); 
	/* Background image is centered vertically and horizontally at all times */
	background-position: center center;

	/* Background image doesn't tile */
	background-repeat: no-repeat;

	/* Background image is fixed in the viewport so that it doesn't move when 
	 the content's height is greater than the image's height */
	background-attachment: fixed;

	/* This is what makes the background image rescale based
	 on the container's size */
	background-size: cover;

	/* Set a background color that will be displayed
	 while the background image is loading */
	background-color: #464646;
	background-size: cover;
}
label, input {
	margin: 0 0 15px 0;
}
blockquote {
	display: block;
	max-width: 480px;
	margin: 15px auto;
	padding: 15px;
	background-color: rgba(0, 0, 0, 0.3);  
	color: #e1e1e1;
	line-height: 28px;
}
h1 {
	color: #efecec;
	text-transform: uppercase;
	font-size: 40px;
	line-height: 50px;
	font-weight: 400;
	margin-top: 20px;
	}
button {
	display: inline-block;
	border: 1px solid #fff;
	font-size: 14px;
	line-height: 24px;
	border-radius: 3px;
	padding: 2px 15px;
	text-decoration: none;
	margin-top: 5px;
}
.navibar {
	width: 100%;
	background-color: rgba(0, 0, 0, 0.6);
	height: 40px;
	z-index: 9999;
	position: fixed;
}
.wrapper {
	display: table;
	padding-top: 80px;
	width: 100%;
}
.content {
	display: table-cell;
	vertical-align: middle;
	text-align: center;
}
.naviInner {
	position: relative;
	margin: 0 auto;
	text-align: center;
}
.label {
	margin: 50px auto;
	font-size: 18px;
	line-height: 23px;
	text-transform: uppercase;
}
@media only screen and (max-width: 767px) {
  body {
    /* The file size of this background image is 93% smaller
     * to improve page load speed on mobile internet connections */
    background-image: url(../img/bg_img_mobile.jpg);
  }
	}